<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>679515981825-o54fvlan108m6k2j7fus8oku4fgvg9hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679515981825-o54fvlan108m6k2j7fus8oku4fgvg9hl</string>
	<key>API_KEY</key>
	<string>AIzaSyDLXMOW3YXNlBRbpiB7RJNwNHwfRfT88R0</string>
	<key>GCM_SENDER_ID</key>
	<string>679515981825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polling.app</string>
	<key>PROJECT_ID</key>
	<string>polling-77bf0</string>
	<key>STORAGE_BUCKET</key>
	<string>polling-77bf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679515981825:ios:a0caa17b3877afeb</string>
	<key>DATABASE_URL</key>
	<string>https://polling-77bf0.firebaseio.com</string>
</dict>
</plist>